@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p, a {
    font-family: 'Open Sans', sans-serif;
}

/* ...................... Global style ...................... */

.underline-remove {
    text-decoration: none;
    color: #343434;
}

/* ...................... Profile summary page ...................... */

.profile-card {
    width: 20rem;
    vertical-align: middle;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#profile-img {
    background-image: url('./images/profile/annette-profile.jpg');
    filter: grayscale(50%);
    height: 350px;
    width: 300px;
    border-radius: 20px;
    /* border-radius: 50%; */
    background-size: cover;
    background-position: top;
    margin-left: 20px;
}

.intro-text {
    font-size: 19px;
    margin-top: 15px;
}

.h-line {
    border: none;
    /* border-top: 2px dotted black; */
    border-bottom: 1px dashed #343434;
    width: 95%;
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.sum-text {
    margin-left: 15px;
}

/* ...................... Experiences page ...................... */

.vertical-line {
    display: none;
}

.circle-icon {
    display: none;
}

.duration {
    margin-top: -7px;
}

.country {
    font-size: 15px;
    /* font-style: italic; */
    margin-left: 10px;
    color: grey;
}

.experiences-hline {
    color: rgb(170, 51, 8);
    width: 90%;
    margin-left: 18px;
    margin-top: 12px;
}

/* ...................... Education page ...................... */

.edu-vertical-line {
    display: none;
}


/*............................................. for iPad ........................................... */

@media (min-width: 768px) {

    /* ...................... Profile summary page ...................... */

    .intro-text {
        font-size: 21px;
        margin-top: 23px;
    }

    #profile-img {
        margin-left: 10px;
    }

    .sum-text {
        margin-left: 0px;
    }

    /* ...................... Experiences page ...................... */

    .vertical-line {
        display: block;
        border-left: 1px solid rgb(170, 51, 8);
        position:absolute;
        height: 3175px;
        /* height: 100vh; */
        /* left: 43%; */
        left: 40%;
        top: 20.5%;
    }

    .circle-icon {
        display: block;
        color: rgb(170, 51, 8);
        margin-top: 20px;
        /* margin-left: 30px; */
        margin-left: 11px;
        font-size: 20px;
    }

    .job-title {
        text-align: end;
    }

    .duration {
        margin-top: 0px;
    }

    .country {
        font-size: 15px;
        margin-left: 15px;
    }

    .experiences-hline {
        margin-left: 0px;
        margin-top: 0px;
    }


    /* ...................... Education page ...................... */

    .edu-vertical-line {
        display: block;
        border-left: 1px solid rgb(170, 51, 8);
        position:absolute;
        height: 1800px;
        /* height: 100vh; */
        /* left: 43%; */
        left: 40%;
        top: 20.5%;
    }


}


/*............................................ for laptop ............................................. */

@media (min-width: 992px) {

    /* ...................... Profile summary page ...................... */

    .intro-text {
        font-size: 22px;
        margin-top: 25px;
    }
    
    /* ...................... Experiences page ...................... */

    .vertical-line {
        height: 1905px;
        /* left: 43%; */
        left: 41.3%;
        top: 28%;
    }

    .circle-icon {
        margin-top: 20px;
        /* margin-left: 30px; */
        margin-left: 28px;
        font-size: 20px;
    }


    /* ...................... Education page ...................... */

    .edu-vertical-line {
        height: 1415px;
        /* left: 43%; */
        left: 41.3%;
        top: 28%;
    }

}