@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p, a {
    font-family: 'Open Sans', sans-serif;
}

/* ...................... Profile summary page ...................... */

.profile-card {
    width: 20rem;
    vertical-align: middle;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#profile-img {
    background-image: url('./images/profile/annette-profile.jpg');
    filter: grayscale(50%);
    height: 350px;
    width: 300px;
    border-radius: 20px;
    /* border-radius: 50%; */
    background-size: cover;
    background-position: top;
    margin-left: 10px;
}